html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 100px 1fr 2fr 60px;
  grid-template-areas:
    "header header header header"
    "display display display display"
    "quote-container quote-container quote-container quote-container"
    "footer footer footer footer";
}

.page-header {
  grid-area: header;
  margin: 10px;
  padding: 10px;
  display: grid;
  font-size: 2.5em;
  justify-self: center;
  border: 3px solid grey;
}

.display {
  grid-area: display;
  margin: 20px;
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.display-quote {
  font-size: 2em;
  align-self: center;
  justify-self: center;
  margin: 2.5%;
  text-align: center;
}

.display-author {
  text-align: center;
  font-size: 1.75em;
  justify-self: center;
}

.quote-container {
  grid-area: quote-container;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 20px;
}

.quote-button,
.quote-button:visited,
.quote-button:focus {
  border: 2px solid grey;
  display: grid;
  font-size: 1.75em;
  font-family: sans-serif;
  background-color: transparent;
  outline: none;
}

.quote-button:active {
  color: white;
}

.footer {
  border: 3px solid grey;
  grid-area: footer;
  text-align: center;
  line-height: 40px;
  margin: 10px 20px 10px 20px;
}

.footer-link, .footer-link:hover, .footer-link:visited {
  color: black;
  text-decoration: none;
  font-size: 1.25em;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:active {
  color: white;
}
